.input-one,
.input-two {
  display: block;
}

.input-two {
  margin-top: 5px;
}

.survey {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}

.google-search {
  width: 400px;
  text-align: center;
}

.input-google {
  margin-top: 0px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 400px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

.google-logo {
  margin-top: 50px;
  margin-bottom: -25px;
  margin-left: 110px;
  width: 180px;
  display: block;
}

.google-search-button {
  border: none;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.google-search-button:hover {
  background-color: rgb(224, 224, 224);
}

.lucky {
  border: none;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; 
}

.lucky:hover {
  background-color: rgb(224, 224, 224);
}

.first-name {
  margin-top: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  color: gray;
  width: 100px;
  outline-width: 1px;
  outline-color: rgba(0, 0, 0, 0.2);
}

.last-name {
  margin-top: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  color: gray;
  width: 100px;
  outline-width: 1px;
  outline-color: rgba(0, 0, 0, 0.2);
}

.email {
  display: block;
  margin-top: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  color: gray;
  width: 218px;
  outline-width: 1px;
  outline-color: rgba(0, 0, 0, 0.2);
}

.sign-up {
  margin-top: 8px;
  background-color: rgb(0, 110, 255);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 92px;
  padding-right: 92px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.sign-up:hover {
  background-color: rgb(27, 126, 255);
}