.cart {
  background-color: rgb(255, 216, 20);
  border: none;
  height: 30px;
  width: 110px;
  font-weight: bold;
  border-radius: 15px;
  margin-right: 8px;
  transition: all 0.15s;
}

.cart:hover {
  background-color: rgb(255, 187, 0);
}

.cart:active {
  background-color: rgb(255, 187, 0);
  opacity: 0.5;
}

.buy {
  background-color: rgb(255,164,28);
  border: none;
  height: 30px;
  width: 110px;
  font-weight: bold;
  border-radius: 15px;
  transition: all 0.15s;
}

.buy:hover { 
  background-color: rgb(219, 126, 5);
}

.buy:active {
  background-color: rgb(219, 126, 5);
  opacity: 0.5;
}

.amazon-link {
  color: rgb(0,113,133);
}

.amazon-link:hover {
  color: rgb(187, 86, 3);
}

.shoes-header {
  font-size: 30px;
  font-weight: bold;
}

.price-paragraph {
  color: rgb(0,118,0);
}